@import 'tailwindcss';
@import '@repo/ui/styles.css';
@import '@repo/ui/theme.css';

@theme inline {
  --font-heading: var(--font-ubuntu-sans), 'Ubuntu', var(--font-sans);
  --font-sans:
    var(--font-ubuntu-sans), 'Ubuntu', var(--font-geist-sans), 'Geist Fallback';
  --font-mono: var(--font-geist-mono), 'Geist Mono';
}
