@import 'tailwindcss';
@import '@repo/ui/styles.css';

@custom-variant dark (&: is(.dark *));

@theme inline {
  --font-heading: var(--font-ubuntu-sans), 'Ubuntu', var(--font-sans);
  --font-sans:
    var(--font-ubuntu-sans), 'Ubuntu', var(--font-geist-sans), 'Geist Fallback';
  --font-mono: var(--font-geist-mono), 'Geist Mono';

  --animate-vercel-text-a: vercel-text 8s infinite;
  --animate-vercel-text-b: vercel-text 8s infinite 4s;
  --animate-switch-gradient: switch-gradient 10s infinite;
  --animate-fade-in: fade-in 2s;

  @keyframes vercel-text {
    0%,
    55% {
      color: inherit;
    }
    5%,
    50% {
      color: transparent;
    }
  }
  @keyframes switch-gradient {
    0%,
    37%,
    50%,
    87%,
    100% {
      color: inherit;
    }
    3%,
    35%,
    53%,
    85% {
      color: transparent;
    }
    0%,
    37% {
      background-image: linear-gradient(to right, #3b82f6 0%, #4338ca 100%);
    }
    50%,
    87% {
      background-image: linear-gradient(to right, #a855f7 0%, #be185d 100%);
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
